<center>
	<div class="my-login-form">
		<form class="pure-form">
		    <fieldset class="pure-group">
		        <input type="text" class="pure-input-1-2" placeholder="Username">
		        <input type="text" class="pure-input-1-2" placeholder="Password">
		    
		    </fieldset>
		    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
		</form>
	</div>
</center>